@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="span12">
            <div class="hero-unit">
                <h1>Notekeeper</h1>
                <p>Notekeeper is a simple application that will allow you to create note-boards and notes.</p>
                <p>
                    @if(!Html.UserLoggedIn()){
                              <a class="btn btn-primary btn-large btn-success" href="@Url.Action("Register","Account")">Sign up!</a>
                              <a class="btn btn-primary btn-large btn-info" href="@Url.Action("LogIn","Account")">Log in!</a>
                    }
                    else{
                        <a class="btn btn-primary btn-large" href="@Url.Action("Index","Application")">Go to My Boards!</a>
                    }
                </p>
            </div>
        </div>
    </div>
</div>
